-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      %th Edit Info
      %th Delete
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= link_to 'Edit info', edit_movie_path(movie)
        %td= button_to 'Delete', movie_path(movie), :method => :delete, :confirm => 'Are you sure?'
        
-# add to end of index.html.haml

= link_to 'Add new movie', new_movie_path        

-# code inserted as per ELLS
-# = debug(@movie)
-# = @movie.inspect